<footer class="footer">
        <div class="social">
            <a href="https://github.com/RogerTi03"><img src="icon//githubnegro.png" alt=""></a>
            <a href="https://www.instagram.com/anderr_117?igsh=a2F0MmRiejVyN3Jl"><img src="icon/instagramnegro.png" alt=""></a>
            <a href="https://x.com/Rogerti117?t=3O32IK__0GMEycyId8Ldfw&s=09"><img src="icon/xnegro.png" alt=""></a>
        </div>

        <ul class="list">
            <li><a href="/#services">Servicios</a></li>
            <li><a href="/#home">Acerca de mi</a></li>
            <li><a href="/#contact">Contacto</a></li>
            <li><a href="/#projects">Proyectos</a></li>
        </ul>
        <p class="copyright">©Royer Tzep | Todos los derechos reservados</p>
    </footer>
