<header class="header">
    <a href="/" class="logo">Royer <span>Tzep</span></a>

    <i class='bx bx-menu bx-tada bx-rotate-90' id="menu-icon"></i>

    <nav class="navbar">
        <a href="/" class="active">Inicio</a>
        <a href="/#education">Educación</a>
        <a href="/#services">Servicios</a>
        <a href="/#projects">Proyectos</a>
        <a href="/#contact">Contacto</a>
    </nav>
</header>
