<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/stylesp4.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css">
</head>
<body>
    <div class="stars-container">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
    
    {{> header}}



    <section class="project_1" id="project_1">
            <div class="card">
            <h1>Proyecto <span>Calculadora MRU y MRUV</span></h1>
            <h2>Descripcion del <span>Proyecto</span></h2>
                <p>
                    
                    Este proyecto consiste en el desarrollo de una calculadora para Movimiento Rectilíneo Uniforme (MRU) y Movimiento Rectilíneo Uniformemente Variado (MRUV) utilizando HTML, CSS y JavaScript. El objetivo principal es proporcionar una 
                    herramienta interactiva y educativa que permita a los usuarios calcular y comprender los conceptos físicos relacionados con estos tipos de movimiento. La calculadora ofrece una interfaz amigable y fácil de usar para facilitar la experiencia del usuario.
                </p>

            <h2>Tecnologías y Herramientas <span>Utilizadas</span></h2>
            <P>
                <span>Lenguaje de Hypertexto:</span> HTML5
                La estructura del proyecto está desarrollada en HTML, proporcionando la base para la interfaz de usuario y organizando los elementos visuales de la calculadora.
            </P>
            <p>
                <span>Hoja de estilos en cascada:</span> CSS3
                Se utiliza CSS para estilizar la interfaz, asegurando que la calculadora tenga un diseño atractivo y responsivo, compatible con diferentes dispositivos.
            </p>
            <p>
                <span>Lenguaje de Programación:</span> JS (JavaScript)
                La lógica del proyecto está implementada en JavaScript, permitiendo el cálculo dinámico y la actualización de resultados en función de las entradas del usuario.
            </p>
            <p>
                <span>Editor de Código: </span>Visual Studio Code
                Para el desarrollo de este proyecto se ha utilizado el editor de código Visual Studio Code. Este entorno de desarrollo ofrece múltiples extensiones y herramientas que facilitan la programación, depuración y gestión del proyecto.

            <h2>Características de <span>Calculadora MRU y MRUV:</span></h2>
            <p>
                <span>Validación de Datos:</span>
                La calculadora incluye validaciones para asegurar que los usuarios ingresen valores numéricos válidos, no deja ingresar datos que no sean numericos.
            </p>
            <p>
                <span>Diseño: </span>
                La calculadora está diseñada para ser completamente responsiva, adaptándose a diferentes tamaños de pantalla y dispositivos.
            </p>
            <P>
                <span>Reinicio de Cálculos:</span>
                La calculadora permite reiniciar los cálculos fácilmente, limpiando todas las entradas y resultados para comenzar de nuevo.
            </P>

            <h2>Video del Proyecto</h2>
            <iframe width="auto" height="auto" src="https://www.youtube.com/embed/Kkr2pFXoPI8?si=vWx4u0JgOyKNXr3G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            
            <h2>Imagenes del Proyecto</h2>
            <br>
            <div class="flex-container">
                <img src="img/mruymruv1.png" id="mruymruv" alt="">
                <img src="img/mruymruv2.png" id="mruymruv" alt="">
                <img src="img/mruymruv3.png" id="mruymruv" alt="">
            </div>
            </div>

            <div class="card2">
                <h2>Lenguajes de <span>Programación</span></h2>
                <p>Utilizados</p>
                <div class="content">
                    <div class="profile-skills">
                        <div>
                            <ul class="skills skills1">
                                <li class="sk-js"><span>Javascript</span></li>
                                <li class="sk-cms"><span>HTML</span></li>
                                <li class="sk-l1"><span>CSS</span></li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <video src="video/mruymruv.mp4" id="video" autoplay loop muted></video>
                    <p>Proyecto <a href="https://masterchief117r.github.io/CalculadoraMRUyMRUV/">Aqui</a></p>
                    <p>Ver en github <a href="https://github.com/MasterChief117r/CalculadoraMRUyMRUV">Aqui</a></p>
                </div>
                
                
            </div>
        
    
    </section>

    <!--FOOTER-->

    {{> footer}}

    
    <script src="/js/script.js"></script>
</body>
</html>