<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/stylesp3.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css">
</head>
<body>
    <div class="stars-container">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
    
    {{> header}}



    <section class="project_1" id="project_1">
            <div class="card">
            <h1>Proyecto <span>Portafolio</span></h1>
            <h2>Descripcion del <span>Proyecto</span></h2>
                <p>
                    Este proyecto consiste en un portafolio web completamente desarrollado utilizando HTML y CSS como lenguajes base, implementado y editado en Visual Studio Code. El objetivo del portafolio es presentar de manera profesional mis habilidades, trayectoria y proyectos, proporcionando a los visitantes una visión clara de mi perfil como desarrollador.
                </p>

            <h2>Tecnologías y Herramientas <span>Utilizadas</span></h2>
            <P>
                <span>Lenguaje de Hypertexto:</span> HTML5
                Estructura básica del contenido del portafolio, creando las secciones y organizando la información de manera coherente.
            </P>
            <p>
                <span>Hoja de estilos en cascada:</span> CSS3
                Estiliza el contenido para crear un diseño visualmente atractivo, utilizando técnicas como flexbox o grid para un layout responsive, y aplicando estilos para mejorar la estética y la usabilidad.
            </p>
            <p>
                <span>Editor de Código: </span>Visual Studio Code
                entorno de desarrollo integrado para el desarrollo de programas informáticos. Es desarrollado por JetBrains, y está disponible en dos ediciones: edición para la comunidad​ y edición comercial.
            </p>

            <h2>Características del <span>Portafolio:</span></h2>
            <p>
                <span>Mostrar habilidades y experiencia:</span>
                Proporcionar una plataforma donde se destaca la experiencia profesional y educativa.
            </p>
            <p>
                <span>Facilitar la navegación: </span>
                Crear una estructura clara y accesible que permita a los visitantes encontrar rápidamente la información que buscan.
            </p>
            <P>
                <span>Promover servicios y proyectos:</span>
                Ofrecer una presentación visualmente atractiva de los servicios ofrecidos y los proyectos realizados.
            </P>

            <h2>Imagenes del Proyecto</h2>
            <br>
            <div class="flex-container">
                <img src="img/p1.png" id="portfolio" alt="">
                <img src="img/p4.png" id="portfolio" alt="">
                <img src="img/p3.png" id="portfolio" alt="">
                <img src="img/p2.png" id="portfolio" alt="">
                <img src="img/p5.png" id="portfolio" alt="">
                <img src="img/p6.png" id="portfolio" alt="">
            </div>
            </div>

            <div class="card2">
                <h2>Lenguajes de <span>Programación</span></h2>
                <p>Utilizados</p>
                <div class="content">
                    <div class="profile-skills">
                        <div>
                            <ul class="skills skills1">
                                <li class="sk-cms"><span>JavaScript</span></li>
                                <li class="sk-cms"><span>HTML</span></li>
                                <li class="sk-l1"><span>CSS</span></li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <video src="video/portafolio.mp4" id="video" autoplay loop muted></video>
                    <h2>Proyecto <a href="https://portfoliort-rt.up.railway.app/#about"></a></h2>
                    <p>Ver en github <a href="https://github.com/rtzepi/portfoliort">Aqui</a></p>
                </div>
                
                
            </div>
        
    
    </section>

    <!--FOOTER-->

    {{> footer}}

    
    <script src="/js/script.js"></script>
</body>
</html>