<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/stylesp5.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css">
</head>
<body>
    <div class="stars-container">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
    
    {{> header}}



    <section class="project_1" id="project_1">
            <div class="card">
            <h1>Proyecto <span>Analizador AFD</span></h1>
            <h2>Descripcion del <span>Proyecto</span></h2>
                <p>
                    Este proyecto consiste en el desarrollo de un analizador para Autómatas Finitos Deterministas (AFD) utilizando HTML, CSS y JavaScript. El objetivo principal es proporcionar una herramienta interactiva que permita a los usuarios cargar un archivo XML que define un AFD y analizar cadenas de entrada para determinar si son aceptadas por el autómata. 
                    La interfaz es amigable y está diseñada para facilitar la comprensión de los conceptos teóricos detrás de los autómatas.
                </p>

            <h2>Tecnologías y Herramientas <span>Utilizadas</span></h2>
            <P>
                <span>Lenguaje de Hypertexto:</span> HTML5
                La estructura del proyecto está desarrollada en HTML, proporcionando la base para la interfaz de usuario y organizando los elementos visuales del analizador.
            </P>
            <p>
                <span>Hoja de estilos en cascada:</span> CSS3
                Se utiliza CSS para estilizar la interfaz, asegurando que el analizador tenga un diseño atractivo y responsivo, compatible con diferentes dispositivos.
            </p>
            <p>
                <span>Lenguaje de Programación:</span> JS (JavaScript)
                La lógica del proyecto está implementada en JavaScript, permitiendo la carga de archivos XML, la validación de cadenas de entrada y la presentación dinámica de resultados en función de las entradas del usuario.
            </p>
            <p>
                <span>Editor de Código: </span>Visual Studio Code
                Para el desarrollo de este proyecto se ha utilizado el editor de código Visual Studio Code. Este entorno de desarrollo ofrece múltiples extensiones y herramientas que facilitan la programación, depuración y gestión del proyecto.

            <h2>Características del <span>Analizado AFD:</span></h2>
            <p>
                <span>Carga de Archivos XML:</span>
                El analizador permite a los usuarios cargar un archivo XML que define el AFD, extrayendo automáticamente el alfabeto, los estados, el estado inicial y las transiciones.
            </p>
            <p>
                <span>Validación de Cadenas: </span>
                Al ingresar una cadena, el analizador verifica si todos los símbolos son válidos y determina si la cadena es aceptada por el AFD, proporcionando un seguimiento del estado a través del cual transita.
            </p>
            <P>
                <span>Interfaz Responsiva:</span>
                La interfaz está diseñada para ser completamente responsiva, adaptándose a diferentes tamaños de pantalla y dispositivos, lo que permite su uso en computadoras de escritorio y dispositivos móviles.
            </P>
            
            <h2>Video del Proyecto</h2>
            <iframe width="auto" height="auto" src="https://www.youtube.com/embed/fM5HqrjA1P0?si=k4_7FI1gffliNKCR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            
            <h2>Imagenes del Proyecto</h2>
            <br>
            <div class="flex-container">
                <img src="img/analizadorafd1.png" id="analizadorafd" alt="">
                <img src="img/analizadorafd2.png" id="analizadorafd" alt="">
                <img src="img/analizadorafd3.png" id="analizadorafd" alt="">
                <img src="img/analizadorafd4.png" id="analizadorafd" alt="">
            </div>
            </div>

            <div class="card2">
                <h2>Lenguajes de <span>Programación</span></h2>
                <p>Utilizados</p>
                <div class="content">
                    <div class="profile-skills">
                        <div>
                            <ul class="skills skills1">
                                <li class="sk-js"><span>Javascript</span></li>
                                <li class="sk-cms"><span>HTML</span></li>
                                <li class="sk-l1"><span>CSS</span></li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <video src="video/analizadorafd.mp4" id="video" autoplay loop muted></video>
                    <p>Proyecto <a href="https://masterchief117r.github.io/AnalizadorAFD/">Aqui</a></p>
                    <p>Ver en github <a href="https://github.com/MasterChief117r/CalculadoraMRUyMRUV">Aqui</a></p>
                </div>
                
                
            </div>
        
    
    </section>

    <!--FOOTER-->

    {{> footer}}

    
    <script src="/js/script.js"></script>
</body>
</html>