<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/stylesp2.css">
</head>
<body>
    <div class="stars-container">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
    
    {{> header}}

    
    <section class="project_1" id="project_1">
            <div class="card">
            <h1>Proyecto <span>Estructura de Datos</span></h1>
            <h2>Descripcion del <span>Proyecto</span></h2>
                <p>
                    Este proyecto en C++ se enfoca en la implementación de estructuras de datos clásicas, tales como listas enlazadas, pilas, colas, árboles y grafos, en el contexto de una farmacia. Desarrollado en Visual Studio 2019, el sistema tiene como objetivo simular y gestionar los procesos de almacenamiento y manipulación de información esencial para el funcionamiento de una farmacia, utilizando estas estructuras para manejar diferentes tipos de datos.
                </p>

            <h2>Tecnologías y Herramientas <span>Utilizadas</span></h2>
            <P>
                <span>Lenguaje de Programación:</span> C++
                El juego está completamente desarrollado en c++, un lenguaje de programación de propósito general que fue desarrollado como una extensión del lenguaje C por Bjarne Stroustrup en 1979. Está diseñado para ofrecer tanto programación de bajo nivel, como es el caso de C, como características de programación orientada a objetos, lo que lo convierte en un lenguaje multiparadigma.
            </P>
            <p>
                <span>IDE: </span>Visual Studio 2019
                Para el desarrollo de este proyecto, se ha utilizado el IDE Apache NetBeans. Este entorno de desarrollo integrado es conocido por su facilidad de uso y su capacidad para manejar proyectos de Java de manera eficiente, proporcionando herramientas poderosas para el desarrollo y depuración del código.
            </p>
            <p>
                <span>Interfaz Gráfica:</span> Windows Forms
                La interfaz gráfica del proyecto ha sido diseñada utilizando Windows Forms, es una biblioteca de clases dentro del framework .NET de Microsoft que proporciona una plataforma para crear aplicaciones de escritorio con interfaces gráficas (GUI) en el sistema operativo Windows. Esencialmente, permite a los desarrolladores crear aplicaciones basadas en ventanas, donde los usuarios pueden interactuar con controles visuales como botones, cuadros de texto, etiquetas, menús y otros elementos gráficos.
            </p>

            <h2>Características del <span>Proyecto:</span></h2>
            <p>
                <span>Estructura de Datos:</span>
                En este proyecto, los conceptos abstractos de las estructuras de datos se aplican a una farmacia, donde los datos como inventario de medicamentos, pedidos, facturación y clientes son gestionados mediante las estructuras implementadas. Este enfoque permite simular el comportamiento dinámico de un sistema farmacéutico en tiempo real, utilizando modelos clásicos de datos para optimizar las operaciones cotidianas.
            </p>
            <h2>Imagenes del Proyecto</h2>
            <div class="flex-container">
                <img src="img/e1.png" id="est" alt="">
                <img src="img/e2.png" id="est" alt="">
                <img src="img/e3.png" id="est" alt="">
                <img src="img/e4.png" id="est" alt="">
                <img src="img/e5.png" id="est" alt="">
                <img src="img/e6.png" id="est" alt="">
            </div>
            </div>

            <div class="card2">
                <h2>Lenguajes de <span>Programación</span></h2>
                <p>Java</p>
                <div class="content">
                    <div class="profile-skills">
                        <div>
                            <ul class="skills skills1">
                                <li class="sk-cms"><span>C++</span></li>
                                <!-- <li class="sk-dtb"><span>DDBB</span></li> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <video src="video/edd.mp4" id="video" autoplay loop muted></video>
                    <h2>Descargar Proyecto <a href=""></a></h2>
                    <p>Ver en github <a href="https://github.com/RogerTi03/estructuradedatos">Aqui</a></p>
                </div>
                
                
            </div>
        
    
    </section>

    {{> footer}}
</body>
</html>