* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: "Poppins", sans-serif;
}

:root{
    --bg-color: #080808;
    --second-bg-color: "131313";
    --text-color: white;
    --main-color: #00ffee;
    
}

html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
/*__________________//_________________________INICIO ESTRELLAS_________________//___________________________*/
.stars-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.star{
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    animation: twinkle 2s infinite ease-in-out, move 10s infinite linear;
}
.star:nth-child(1){
    top: 10%;
    left: 20%;
    animation-delay: 0s, 0s;
}
.star:nth-child(2){ 
    top: 30%; left: 
    70%; animation-delay: 0.5s, 2s; 
}
.star:nth-child(3) { 
    top: 50%; left: 40%; 
    animation-delay: 1s, 4s; 
}
.star:nth-child(4) { 
    top: 70%; left: 80%; 
    animation-delay: 1.5s, 6s; 
}
.star:nth-child(5) { 
    top: 20%; 
    left: 50%; 
    animation-delay: 2s, 8s; 
}
.star:nth-child(6) { 
    top: 40%; left: 20%; 
    animation-delay: 2.5s, 10s; 
}
.star:nth-child(7) { 
    top: 60%; 
    left: 60%; 
    animation-delay: 3s, 12s; 
}
.star:nth-child(8) { top: 80%; 
    left: 30%; 
    animation-delay: 3.5s, 14s; 
}
.star:nth-child(9) { 
    top: 25%; left: 75%; 
    animation-delay: 4s, 16s; 
}
.star:nth-child(10) { 
    top: 50%; left: 15%; 
    animation-delay: 4.5s, 18s; 
}
@keyframes twinkle{
    0%, 100%{
        opacity: 0.2;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1.5);
    }
}
@keyframes move{
    0%{
        transform: translateX(0) translateY(0);
    }
    100%{
        transform: translateX(50px) translateY(50px);
    }
}
/*__________________!!_________________________FIN ESTRELLAS_________________!!___________________________*/

/*__________________//_________________________INICIO HEADER_________________//___________________________*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3 ease;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--main-color);
}
/*NAVBAR*/
.navbar {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.navbar a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--main-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 2px;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    background: none;
    border: 2px solid var(--main-color);
    border-radius: 30px;
}

.navbar a:before, .navbar a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    transition: 0.3s ease-in-out;
    border-radius: 30px;
    z-index: -1;
}

.navbar a:before {
    transform: translateY(100%);
}

.navbar a:after {
    transform: translateX(-100%);
}

.navbar a:hover:before {
    transform: translateY(0);
}

.navbar a:hover:after {
    transform: translateX(0);
}

.navbar a:hover {
    color: #000;
}

.navbar a.active {
    background-color: var(--main-color);
    color: #000;
    border-color: var(--main-color);
}
/*FIN NAVBAR*/
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transform: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.home-content p{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.social-icons img{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    background-color: #00ffee;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons img:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}
/*-------------------------------------Animacion de text-animation-------------------*/
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Web Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
/*rayos*/



/*textos que debe mostrar*/
/*-animacion, muestra la linea de escribir-*/
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }

}

/*texto que debe mostrar*/
@keyframes words{
    0%,
    20%{
        content: "Fronted Designer";
    }
    21%,
    40%{
        content: "Web Designer";
    }
    41%,
    60%{
        content: "Web Developer";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}

/*__________________//_________________________INICIO SOBRE MI_________________//___________________________*/
.about .about-content {
    display: flex;
    flex-direction: column;
    background: var(--bg-color, rgba(0, 0, 0, 0.05));
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 0 5px var(--main-color), 0 0 10px var(--main-color);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 800px;
    margin: 0 auto; 
}


.about .about-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

h1 {
    font-size: 25px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.about .about-content h2,
.about .about-content h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content h3 span {
    color: var(--skin-color);
}

.about .about-content p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

.personal-info,
.skills {
    flex: 0 0 60%; 
    max-width: 60%;
    margin-top: 40px;
}

.personal-info .info-item,
.skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px; 
}

.personal-info .info-item p,
.skills .skill-item h5 {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.personal-info .info-item p span,
.skills .skill-item .skill-percent {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.personal-info .buttons {
    margin-top: 30px;
}

.personal-info .buttons .btn {
    margin-right: 15px;
    margin-top: 10px;
}

/* Skills Section */
.skills .skill-item .progress {
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}

/* Skills Container */
.profile-skills {
    background: rgb(8, 255, 8);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 20px;
    transform: translateX(-20px);
    width: auto;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden; 
}

.profile-skills {
    flex: 1;
    min-width: 200px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0; 
}



.profile-skills h2 {
    
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--text-black-900);
}

.skills1 {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    width: 100%; 
}




.profile-skills > div {
    width: 100%;
    height: auto; 
    border-radius: 0; 
    position: relative;

    display: flex; 
    justify-content: center; 
    align-items: center; 
}





.profile-skills > div:nth-child(3n) {
    margin-right: 0; 
}

ul.skills {
    width: 100%;
    position: relative;
    padding: 25px 35px;
    background: linear-gradient(0deg, var(--c1) 0 10px, var(--b2) 0 calc(100% - 10px), var(--c1) 0 100%);
}


ul.skills:hover:after {
    top: -20px;
    transition: var(--t1);
    border-top-color: #2187e7;
}

ul.skills li {
    --per: 50;
    --dur: calc(calc(var(--per) / 100) * 1.5s);
    margin: 0 0 5px 0;
    list-style: none;
    padding: 20px 0;
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--w2);
}

ul.skills li:before {
    content: "";
    position: absolute;
    background: #1c1c1c;
    height: 16px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    border: 1px solid #111;
    border-color: #111 #323232 #323232 #111;
    --track: #2292dd40;
    background: linear-gradient(
        90deg,
        var(--track) calc(calc(var(--per) * 1%) + 4px),
        #1c1c1c calc(calc(var(--per) * 1%) + 4px)
    );
}

ul.skills li:after {
    content: "";
    height: 11px;
    margin: 0 0 2px 0;
    background: #e7c321;
    position: absolute;
    box-shadow: 0px 0px 10px 1px #ff880066;
    left: 3px;
    width: 0%;
    bottom: 0;
    transition: all var(--dur) ease 0s;
    animation: start 1s ease 0s 2 alternate;
}

ul.skills li:hover {
    filter: brightness(1.5);
    transition: var(--t1);
}

ul.skills:hover li:after {
    width: calc(calc(var(--per) * 1%) - 2px);
}

ul.skills li span {
    font-weight: 500;
}

ul.skills li span:before {
    position: absolute;
    right: -25px;
    top: 43px;
    transition: var(--t1);
    content: "";
    opacity: 1;
    border: 7px solid #fff0;
}

ul.skills li:hover span:before {
    transition: var(--t1);
    right: calc(calc(calc(100 - var(--per)) * 1%) - 12px);
    opacity: 1;
    border-right-color: #2187e7;
}

ul.skills li span:after {
    position: absolute;
    right: -40px;
    top: 38px;
    transition: var(--t1);
    counter-reset: percent var(--per);
    content: counter(percent);
    color: var(--b2);
    opacity: 1 !important;
    padding: 4px 6px;
    border-radius: 1px;
    font-weight: bold;
    pointer-events: none;
}

ul.skills li:hover span:after {
    transition: var(--t1);
    right: calc(calc(85 - var(--per)) * 1%);
    right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
    opacity: 1;
    background: var(--c1);
}

ul.skills li.sk-js { --per: 35; }
ul.skills li.sk-py { --per: 25; }
ul.skills li.sk-csh { --per: 15; }
ul.skills li.sk-html { --per: 75; }
ul.skills li.sk-css { --per: 75; }
ul.skills li.sk-css { --per: 75; }

ul.skills li.sk-angular { --per: 75; }
ul.skills li.sk-bt { --per: 75; }
ul.skills li.sk-ndjs { --per: 35; }

ul.skills li.sk-sql { --per: 55; }
ul.skills li.sk-oracle { --per: 35; }

label[for="sk1"]:before {
    border-color: cornflowerblue;
}

/*__________________!!_________------___________FIN SOBRE MI_________--________!!________________________*/

/*---------------------------------------------INICIO EDUCACIÓN------------------------------------------*/
.heading{
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}
.education{
    padding: 100px 15px;
    background: var(--second-bg-color);
}
.education h2{
    margin-bottom: 5rem;
}
.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
/*linea*/
.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
/*puntos*/
.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}
.timeline-content{
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}
.timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content p{
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
/*-------------------------------------------------------------------FIN EDUCACIÓN-----------------------------------------------------*/
/*-------------------------------------------------------------------INICIO SERVICIOS-----------------------------------------------------*/

.services {
    background: var(--bg-color);
    color: black;
    padding: 2rem;
}

.services h2 {
    margin-bottom: 5rem;
    color: white;
    text-align: center;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.service-box {
    background-color: var(--main-color);
    height: auto; /* Ajustar la altura automáticamente */
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    overflow: hidden; /* Asegurar que el contenido no se desborde */
}

.service-box:hover {
    background: white;
    color: black;
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}

.service-box .service-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem; 
}

.service-info h4 {
    font-size: 2.5rem; 
    font-weight: 800;
}

.service-info p {
    font-size: 1.3rem; 
    font-weight: 600;
    line-height: 1.7;
    margin-bottom: 1rem; 
    overflow-wrap: break-word; 
}



/*-------------------------------------------------------------------FIN SERVICIOS-----------------------------------------------------*/
/*-------------------------------------------------------------------INICIO PROYECTOS-----------------------------------------------------*/
.projects{
    background: var(--second-bg-color);
}
.projects-box{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.projects .heading{
    margin-bottom: 5rem;
}
.projects-box img{
    width: 15rem;
    border-radius: 15%;
    border: 3px solid var(--main-color);
    box-shadow: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
}
.project-item{
    min-height: 550px;
    max-width: 450px;
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid rgba (238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: white;
    transition: 0.4s ease-in-out;
}
.project-item:hover{
    border: 3px solid var(--main-color);
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 50px var(--main-color);
}
.project-item h2{
    font-size: 2.8rem;
}
.project-item p{
    font-size: 1.3rem;
}
#star{
    color: gold;
    font-size: 2rem;
    width: 20px;
    border: none;
}
/*-------------------------------------------------------------------FIN PROYECTOS-----------------------------------------------------*/
/*-------------------------------------------------------------------INICIO CONTACTO-----------------------------------------------------*/
.contact{
    background-color: var(--bg-color);
}

#contact1{
    min-height: 550px;
    max-width: 450px;
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid var(--main-color);
    border-radius: 2rem;
    margin: 0 auto;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: white;
    transition: 0.4s ease-in-out;
}
#contact1:hover{
    border: 3px solid var(--main-color);
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 50px var(--main-color);
}
.contact h2{
    margin-bottom: 3rem;
    color: white;
}
h3{
    font-size: 20px;
}
/* .contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
} */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}
.social img{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    background-color: #00ffee;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social img:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
/* .footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
} */
/* .footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
} */
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}

/*MEDIA QUERIES*/
@media(max-width: 1285){
    html{
        font-size: 55%;
    }
    .services.container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
}
@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
    .services{
        padding-bottom: 7rem;
    }
    .testimonials .wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    .contact form{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 56vw;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .services-container{
        grid-template-columns: repeat(1,1fr);
    }
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {

    


    .services-container {
        grid-template-columns: 1fr; 
        gap: 1.5rem;
    }

    .service-box {
        padding: 1rem; 
    }

    .service-info h4 {
        font-size: 1.8rem; 
    }

    .service-info p {
        font-size: 1.4rem; 
    }
}

@media (max-width: 480px) {
    .service-info h4 {
        font-size: 1.5rem; 
    }

    .service-info p {
        font-size: 1.2rem; 
    }
}

